* {
    margin: 0 auto;
}

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
}

header {
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-weight: 400;
    padding: 0 0 40px 0;
    font-size: 50px;
}

h2 {
    font-size: 42px;
    padding: 0 0 40px 0;    
    font-weight: 300;
}

p {
    color: gray;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

main {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.mission {
    padding-top: 40px;
}

.mission img {
    margin: 20px 0;
}

.phone img {
    margin-bottom: 40px;
}

footer {
    text-align: right;
    margin: 10px 0 20px 0;
}

footer p {
    padding-right: 10px;
}